[defaults]
bin_ansible_callbacks = True
inventory = hosts
retry_files_enabled = False
stdout_callback = debug

[inventory]
# avoid "did not meet _ requirements" warnings when using -v
# see https://github.com/ansible/ansible/issues/48859
enable_plugins = ini
