[core]
  editor = {{ git_core.editor }}
  excludesfile = ~/.gitignore_global
[user]
  name = {{ git_user.name }}
  email = {{ git_user.email }}
  signingkey = {{ git_user.signingkey }}
[commit]
  gpgsign = true
[diff "ansible-vault"]
  textconv = ansible-vault view
