[core]
  editor = {{ git.core.editor }}
  excludesfile = ~/.gitignore_global
[user]
  name = {{ git.user.name }}
  email = {{ git.user.email }}
{% if git.user.signingkey is defined %}
  signingkey = {{ git.user.signingkey }}
[commit]
  gpgsign = true
{% endif %}
[diff "ansible-vault"]
  textconv = ansible-vault view
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[credential]
  helper = cache --timeout=300
